.calculator-output{
  background-color: #735290;
  border-radius: 1rem;
  padding: 1rem;
  flex-grow: 2;
  color: white
}

.calculator-output__container{
  display: flex;
  justify-content: space-between;
}
